<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ZUP3Suite">
  <test thread-count="5" name="ZUP3Test">
    <classes>
      <class name="cdsosobist.connectors.rest.testClient"/>
      <class name="cdsosobist.connectors.rest.zup3Connector"/>
    </classes>
  </test> <!-- ZUP3Test -->
</suite> <!-- ZUP3Suite -->
